<div class="ServiceHeader">
	<div class="Service Icon">
		<%= link_to image_tag("google-logo.jpg"), :controller => 'google'  %>
	</div>
	<h1>Google API</h1>
</div>
<div class="ServiceBody">
	<h2>Social API's</h2>
	<div class="ServiceFeature">
		<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'google', :action=> 'authorizeGoogleAccess' %>
	</div>
</div>