<div>
	<h2>Google User Information</h2>
	<ul>
		<li>Google UserId - <%= @guid %>
		</li>
	</ul>
	<br />
	<h2>Contact EMail List</h2>
	<ul>
	<% for contact in @contacts %>
		<li class="GoogleContact"><%= contact[0] %>, <br /><%= contact[1] %><br /> <%= contact[2] %></li>
		<br />
	<% end %>
	</ul>
</div>