<div class="Service">
	One is normally re-directed to the specific service to perform account authentication and authorization.
		<%= link_to 'Retrieve Sample Contacts', :controller=> 'sample', :action=> 'retrieveSampleContacts' %>
</div>
