<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceIcon">
			<%= link_to image_tag("sample-logo.jpg"), :controller => 'sample'  %>
		</div>
		<div class="ServiceTitle">
			<h1>Sample</h1>
		</div>
	</div>
	<div class="ServiceBody">
		<div class="ServiceFeature">
			<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'sample', :action=> 'authorizeSampleAccess' %>
		</div>
	</div>
</div>
