<div class="app">
	<h1>Mobile OAuth - Main Menu</h1>
	<div id="mainMenu">
		<div id="appInfo" class="mainMenuItem">
			<img src="img/256Px - 341.png" alt=""/>
		</div>
		<div id="deviceInfo" class="mainMenuItem">
			<img src="img/256Px - 426.png" alt=""/>
		</div>
		<div id="userInfo" class="mainMenuItem">
			<img src="img/256Px - 013.png" alt=""/>
		</div>
		<div id="touchDemo" class="mainMenuItem">
			<img src="img/256Px - 202.png" alt=""/>
		</div>
	</div>
</div>
