<div class="ServiceHeader">
	<div class="Service Icon">
		<%= link_to image_tag("aol-logo.jpg"), :controller => 'aol'  %>
	</div>
	<h1>AOL API</h1>
</div>
<div class="ServiceBody">
	<h2>Social API's</h2>
	<div class="ServiceFeature">
		<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'aol', :action=> 'authorizeAOLAccess' %>
	</div>
</div>