<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceIcon">
			<%= link_to image_tag("myspace-logo.jpg"), :controller => 'myspace'  %>
		</div>
		<div class="ServiceTitle">
			<h1>MySpace</h1>
		</div>
		<div class="ServiceLinks">
			<a href="http://wiki.developer.myspace.com/index.php" target="_blank" ><h2>Documentation</h2></a>
		</div>
		<div class="ServiceLinks">
			<a href="http://developer.myspace.com" target="_blank" ><h2>API Keys</h2></a>
		</div>
	</div>
	<div class="ServiceBody">
		<div class="ServiceFeature">
			<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'myspace', :action=> 'authorizeMySpaceAccess' %>
		</div>
	</div>
</div>
