div.ControlPanel.Menu {
}
div.ControlPanel.MenuTitle{
	text-align: center;
}
div.ControlPanel.MenuItem {
	display: inline;
	float: left;
	clear: none;
	width: 10em;
	height: 20ex;
	overflow: hidden;
	border: outset;
	margin: 1.5ex 1.25em 1.5ex 1.25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}
div.ControlPanel.MenuItem.Passes {
	background-color: #0DB14B;
}
div.ControlPanel.MenuItem.Fails {
	background-color: #DE8992;
}
div.ControlPanel.MenuItemTitle {
	width: 60%;
	margin: 1ex 20% 1ex 20%;
}
div.ControlPanel.MenuItemIcon {
	width: 10em;
	margin: 1ex auto 1ex auto;
}
div.ControlPanel.MenuItemIcon a img {
/*	border: double;*/
	width: 60%;
	margin: 1ex 20% 1ex 20%;
}

