@CHARSET "UTF-8";
body{
	background-color: #B79DB7;
}
div.Page_Header{
	display: block;
	float: none;
	clear: both;
	height: 10ex;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Header.Page_Header_App_Name{
	display: block;
	float: left;
	clear: left;
	height: 10ex;
	width: 12em;
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Header.Page_Header_App_Name h1{
	color: #B4D5E5;
	margin: 3ex 2em 2ex 2em;
	padding: 0 0 0 0;
	vertical-align: middle;
}
div.Page_Header.Page_Header_Logo{
	display: block;
	float: left;
	clear: none;
	height: 10ex;
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Header.Page_Header_Logo img {
	border: double;
	height: 80%;
	width: 80%;
	margin: 1ex 1em 1ex 1em;
	background-color: #B4D5E5;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}
div.Page_Body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Body.Page_Body_Left{
	display: block;
	clear: both;
	float: left;
	width: 10em;
/*	height: 55ex;
*/
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Body.Page_Body_Right{
	display: block;
	clear: right;
	float: right;
	width: 10em;
/*	height: 55ex;
*/
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.Page_Body.Page_Body_Center{
	height: 100%;
	margin: 0 12em 0 12em;
	padding: 0 0 0 0;
}
div.Page_Body h1{
	font-size: x-large;	
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
div.Page_Body h2{
	font-size: medium;	
	margin: 1ex 0 1ex 0;
	padding: 0 0 0 0;	
}
div.Page_Body li{
	font-size: small;	
	margin: .5ex 0 .5ex 1em;
	padding: 0 0 0 0;		
}
div.Page_Body p{
	font-size: small;	
	margin: 0 0 0 0;
	padding: 0 0 0 0;		
}
div.Page_Body.Flash{
	
}
div.Page_Footer{
	display: block;
	float: none;
	clear: both;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
