div.ServiceHeader {
	display: inline;
	float: left;
	clear: none;
	height: 16ex;
	width: 40em;
	background-color: #B4D5E5;
	border: outset;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
div.ServiceHeader h1 {
	color: #B79DB7;
	color: #DE8992;
	text-align: center;
	margin: 1ex auto 0 auto;
}
div.ServiceHeader h2 {
	color: #B79DB7;
	color: #DE8992;
	text-align: center;
	margin: 1ex auto 0 auto;
}
div.ServiceIcon {
	display: inline;
	float: left;
	clear: none;
	height: 12ex;
	margin: 0 0 0 0;
	padding: 1ex 1em 1ex 1em;
	overflow: hidden;
}
div.ServiceIcon a img {
	display: inline;
	height: 10ex;
	margin: 0 1ex 0 1ex;
	padding: 0 0 0 0;
}
div.ServiceTitle {
	display: inline;
	float: left;
	clear: none;
	width: 8em;
	height: 8ex;
	margin: 0 0 0 0;
	padding: 2ex 0 2ex 0;
	overflow: hidden;

}
div.ServiceLinks {
	display: inline;
	float: left;
	clear: none;
	width: 15em;
	height: 6ex;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;

}
div.ServiceLinks h2{
	color: #B43530;
}
div.ServiceBody {
	display: inline;
	float: left;
	clear: none;
	height: 56ex;
	width: 40em;
	background-color: #B4D5E5;
	border: outset;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
div.ServiceFeature {
}

div.ServicePanel.MenuItem {
	display: inline;
	float: left;
	clear: none;
	width: 10em;
	height: 20ex;
	overflow: hidden;
	border: outset;
	margin: 1.5ex 1.25em 1.5ex 1.25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}
div.ServicePanel.MenuItem.Green {
	background-color: #0DB14B;
}
div.ServicePanel.MenuItem.Red {
	background-color: #DE8992;
}
div.ServicePanel.MenuItemTitle {
	width: 60%;
	margin: 1ex 20% 1ex 20%;
}
div.ServicePanel.MenuItemIcon {
	width: 6em;
	margin: 1ex auto 1ex auto;
}
div.ServicePanel.MenuItemIcon a img {
/*	border: double;*/
	width: 60%;
	margin: 1ex 20% 1ex 20%;
}


