.UserInfo {
	border-bottom: solid;
}
.UserContacts {
	overflow: scroll;
	height: 55ex;
	padding: .5ex 0 .5ex 0;
}
.UserFriends {
	overflow: scroll;
	height: 55ex;
	padding: .5ex 0 .5ex 0;
}
.UserConections {
	overflow: scroll;
	height: 55ex;
	padding: .5ex 0 .5ex 0;
}

.UserContact {
	width: 37em;
	margin: 0 .5em 0 .5em;
	padding: .5ex .5em .5ex .5em;
}
.UserFriend {
	width: 37em;
	margin: 0 .5em 0 .5em;
	padding: .5ex .5em .5ex .5em;
}
.UserConnection {
	width: 37em;
	margin: 0 .5em 0 .5em;
	padding: .5ex .5em .5ex .5em;
}


.odd {
	color: #0DB14B;
	background-color: white;
}
.even {
	color: white;
	background-color: #0DB14B;	
}

.UserInfo.Sample {
}
.UserContacts.Sample {
}
.UserContact.Sample {
	height: 3ex;
}


.UserInfo.AOL {
}
.UserContacts.AOL {
}
.UserContact.AOL {
	height: 3ex;
}


.UserInfo.Facebook {
}
.UserContacts.Facebook {
}
.UserContact.Facebook {
	height: 3ex;
}


.UserInfo.Google {
}
.UserContacts.Google {
}
.UserContact.Google {
	height: 8ex;
}


.UserInfo.LinkedIn {
}
.UserConnections.LinkedIn {
}
.UserConnection.LinkedIn {
	height: 10ex;
}


.UserInfo.MySpace {
}
.UserContacts.MySpace {
}
.UserContact.MySpace {
	height: 3ex;
}


.UserInfo.Twitter {
}
.UserFriends.Twitter {
}
.UserFriend.Twitter {
	height: 3ex;
}


.UserInfo.WindowsLive {
}
.UserContacts.WindowsLive {
}
.UserContact.WindowsLive {
	height: 6ex;
}


.UserInfo.Yahoo {
}
.UserContacts.Yahoo {
}
.UserContact.Yahoo {
	height: 8ex;
}
