.UserInfo.AOL {
}
.UserContacts.AOL {
}
.UserContact.AOL {
	height: 3ex;
	width: 20em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.AOL.odd {
	color: blue;
	background-color: white;
}
.UserContact.AOL.even {
	color: white;
	background-color: blue;
}


.UserInfo.Facebook {
}
.UserContacts.Facebook {
}
.UserContact.Facebook {
	height: 3ex;
	width: 20em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.Facebook.odd {
	color: blue;
	background-color: white;
}
.UserContact.Facebook.even {
	color: white;
	background-color: blue;
}


.UserInfo.Google {
}
.UserContacts.Google {
}
.UserContact.Google {
	height: 8ex;
	width: 40em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.Google.odd {
	color: blue;
	background-color: white;
}
.UserContact.Google.even {
	color: white;
	background-color: blue;
}


.UserInfo.LinkedIn {
}
.UserConnections.LinkedIn {
}
.UserConnection.LinkedIn {
	height: 8ex;
	width: 40em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserConnection.LinkedIn.odd {
	color: blue;
	background-color: white;
}
.UserConnection.LinkedIn.even {
	color: white;
	background-color: blue;
}


.UserInfo.MySpace {
}
.UserContacts.MySpace {
}
.UserContact.MySpace {
	height: 3ex;
	width: 20em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.MySpace.odd {
	color: blue;
	background-color: white;
}
.UserContact.MySpace.even {
	color: white;
	background-color: blue;
}


.UserInfo.Twitter {
}
.UserFriends.Twitter {
}
.UserFriend.Twitter {
	height: 3ex;
	width: 20em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserFriend.Twitter.odd {
	color: blue;
	background-color: white;
}
.UserFriend.Twitter.even {
	color: white;
	background-color: blue;
}


.UserInfo.WindowsLive {
}
.UserContacts.WindowsLive {
}
.UserContact.WindowsLive {
	height: 6ex;
	width: 20em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.WindowsLive.odd {
	color: blue;
	background-color: white;
}
.UserContact.WindowsLive.even {
	color: white;
	background-color: blue;
}

.UserInfo.Yahoo {
}
.UserContacts.Yahoo {
}
.UserContact.Yahoo {
	height: 8ex;
	width: 40em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
.UserContact.Yahoo.odd {
	color: blue;
	background-color: white;
}
.UserContact.Yahoo.even {
	color: white;
	background-color: blue;
}
