<div class="ServiceHeader">
	<div class="Service Icon">
		<%= link_to image_tag("twitter-icon.png"), :controller => 'twitter'  %>
	</div>
	<h1>Twitter API</h1>
</div>
<div class="ServiceBody">
	<h2>Social API's</h2>
	<div class="ServiceFeature">
		<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'twitter', :action=> 'authorizeTwitterAccess' %>
	</div>
</div>