<div class="ServiceHeader">
	<div class="Service Icon">
		<%= link_to image_tag("facebook-logo.jpg"), :controller => 'facebook'  %>
	</div>
	<h1>Facebook API</h1>
</div>
<div class="ServiceBody">
	<h2>Social API's</h2>
	<div class="ServiceFeature">
		<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'facebook', :action=> 'authorizeFacebookAccess' %>
	<div>
</div>