<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceIcon">
			<%= link_to image_tag("facebook-logo.jpg"), :controller => 'facebook'  %>
		</div>
		<div class="ServiceTitle">
			<h1>Facebook</h1>
		</div>
		<div class="ServiceLinks">
			<a href="http://developers.facebook.com/docs" target="_blank" ><h2>Documentation</h2></a>
		</div>
		<div class="ServiceLinks">
			<a href="https://developers.facebook.com/apps" target="_blank" ><h2>API Keys</h2></a>
		</div>
	</div>
	<div class="ServiceBody">
		<div class="ServiceFeature">
			<%= link_to image_tag("buttons/RetrieveContacts.png"), :controller=> 'facebook', :action=> 'authorizeFacebookAccess' %>
		</div>
	</div>
</div>
