<div>
	<h2>Facebook User Information</h2>
	<ul>
		<li>Facebook UserId - <%= @facebookId %>
		</li>
		<li>Facebook Name - <%= @facebookName %>
		</li>
	</ul>
	<br />
	<h2>Contact EMail List</h2>
	<ul>
	<% for contact in @facebookFriends %>
		<li class="FacebookContact"><%= contact[0] %><br /><%= contact[1] %></li>
		<br />
	<% end %>
	</ul>
</div>